body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("/public/3840x2160.jpg");
}
a {
    color: inherit;
    text-decoration: none;
    margin-right: 2vh;
}
.name{
    font-family: 'Playfair Display', serif;
    font-size: 7vh;
    color:rgb(255, 255, 237);
    padding: 3vh 0vh 2vh 2vh;
    display: inline;
}
.navbar{
    background-color: black;
    display: flexbox;
}
.navigation{
    color: rgb(255, 255, 237);
    text-align: right;
    margin-top: -5vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
    font-size: 4vh;
}
.home , .blog{
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 237);
}
.input-form{
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}
input{
    padding: 2vh;
    margin: 1vh;
    background-color:azure;
    border-radius: 1vh;
    border: none;
}
form{
    background-color:blanchedalmond;
    border-radius: 1vh;
    padding: 4vh 0vh;
    width: 400px;
}
#post{
    margin-left: 30%;
    width: 40%;
    font-size: 20px;
    color: purple;
    border-radius: 1vh;
    background-color:aquamarine;
}
#content{
    height: 80px;
    margin-left: 7%;
    width: 80%;
    font-size: 20px;
}
#name{
    margin-left: 7%;
    width: 80%;
    font-size: 20px;
}
.blogbox{
    border: none;
    border-width: 1px;
    width: 40%;
    margin: 15px 30%;
    background-color: rgb(255, 255, 154,0.7);
    border-radius: 5px;
}
p,h4{
    margin: 0;
    padding: 5px;
}

